@import "tailwindcss";

@theme {
  --color-bg-app: #f4f6f9;
  --color-surface: #ffffff;

  --color-text-primary: #14171f;
  --color-text-secondary: #6b7280;
  --color-text-tertiary: #9aa1ac;

  --color-divider: #e7eaef;

  --color-brand: #2f6fed;
  --color-brand-soft: #eaf1fe;

  --color-good: #2fbf71;
  --color-good-soft: #e7f9ef;

  --color-moderate: #f5a623;
  --color-moderate-soft: #fef3e0;

  --color-sensitive: #ff7b00;
  --color-sensitive-soft: #fff2e5;

  --color-unhealthy: #e5484d;
  --color-unhealthy-soft: #fdeaea;

  --color-very-unhealthy: #8f44fd;
  --color-very-unhealthy-soft: #f4ecff;
}

:root {
  --nav-height: 72px;
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  overflow-y: scroll;
}
